$main-background-color: rgba(187, 210, 249, 0.17);
$articles-background-color:white;
$first-brand-color:yellow;
$second-brand-color:#22579E;
$blocks-border-color:lightgray;
$logo-capture-color:#ff8400;
$articles-names-color:darkblue;
$bigger-font:14px;
$lower-font:12px;

